In [1]:
import pandas as pd
import os

In [26]:
caminho_dados = "."
nome_arquivo = "6ano_completo.csv"

In [30]:
caminho_completo = os.path.join(caminho_dados, nome_arquivo)
df = pd.read_csv(caminho_completo)

print("Dados carregados com sucesso!")

Dados carregados com sucesso!

In [31]:
df

,nome_estudante,lista,questao,enunciado,classificacao,subtipo_erro,justificativa
0,Ana Clara Santos,lista1,Q1,A biblioteca da escola recebeu novas doações d...,Incorreto,Erro de Interpretação,"O estudante cometeu um Erro de Interpretação, ..."
1,Ana Clara Santos,lista1,Q2,Um avião tem capacidade para 295 passageiros e...,Incorreto,Erro de Interpretação,"O estudante cometeu um Erro de Interpretação, ..."
2,Ana Clara Santos,lista1,Q3,Uma fábrica de brinquedos produz 138 carrinhos...,Parcialmente Correto,Erro Numérico,"O estudante identificou a operação correta, ma..."
3,Ana Clara Santos,lista1,Q4,Uma turma de 27 alunos decidiu organizar uma v...,Correto,NaN,O estudante demonstrou total compreensão e pre...
4,Ana Clara Santos,lista1,Q5,"Em uma campanha de arrecadação de alimentos, o...",Parcialmente Correto,Erro Numérico,"O estudante identificou a operação correta, ma..."
...,...,...,...,...,...,...,...
2495,Benício Alves Santos,lista5,Q6,Uma torta de 12 pedaços teve 7 pedaços comidos...,Incorreto,Erro Relacional,"O estudante cometeu um Erro Relacional, escolh..."
2496,Benício Alves Santos,lista5,Q7,Se Otávio precisa calcular o dobro de 167 e o ...,Correto,NaN,O estudante demonstrou total compreensão e pre...
2497,Benício Alves Santos,lista5,Q8,"Se um carro percorreu 360 km em 6 horas, mante...",Correto,NaN,O estudante demonstrou total compreensão e pre...
2498,Benício Alves Santos,lista5,Q9,"Em um jogo de tabuleiro, Paula começou com 500...",Incorreto,Não Respondeu,O estudante não conseguiu iniciar a resolução ...
2499,Benício Alves Santos,lista5,Q10,Uma doceira fez 350 brigadeiros e 280 beijinho...,Parcialmente Correto,Erro Numérico,"O estudante identificou a operação correta, ma..."