In [2]:
import pandas as pd
import os

In [3]:
caminho_dados = "."
nome_arquivo = "6ano_completo.csv"

In [4]:
caminho_completo = os.path.join(caminho_dados, nome_arquivo)
df = pd.read_csv(caminho_completo)

print("Dados carregados com sucesso!")

Dados carregados com sucesso!

In [5]:
df

,nome_estudante,lista,questao,enunciado,classificacao,tipo_erro,subtipo_erro,justificativa
0,Ana Clara Santos,lista1,Q1,A biblioteca da escola recebeu novas doações d...,Incorreto,Erro de Interpretação,Compreensão Incompleta do Enunciado,"O estudante cometeu um Erro de Interpretação, ..."
1,Ana Clara Santos,lista1,Q2,Um avião tem capacidade para 295 passageiros e...,Parcialmente Correto,Erro Numérico,Inversão de Dígitos ou Transposição,"O estudante identificou a operação correta, ma..."
2,Ana Clara Santos,lista1,Q3,Uma fábrica de brinquedos produz 138 carrinhos...,Parcialmente Correto,Erro Numérico,Erros na Tabuada/Fatos Básicos,"O estudante identificou a operação correta, ma..."
3,Ana Clara Santos,lista1,Q4,Uma turma de 27 alunos decidiu organizar uma v...,Parcialmente Correto,Erro Numérico,Deslizes no Procedimento Padrão,"O estudante identificou a operação correta, ma..."
4,Ana Clara Santos,lista1,Q5,"Em uma campanha de arrecadação de alimentos, o...",Correto,NaN,NaN,O estudante demonstrou total compreensão e pre...
...,...,...,...,...,...,...,...,...
2495,Benício Alves Santos,lista5,Q6,Uma torta de 12 pedaços teve 7 pedaços comidos...,Correto,NaN,NaN,O estudante demonstrou total compreensão e pre...
2496,Benício Alves Santos,lista5,Q7,Se Otávio precisa calcular o dobro de 167 e o ...,Correto,NaN,NaN,O estudante demonstrou total compreensão e pre...
2497,Benício Alves Santos,lista5,Q8,"Se um carro percorreu 360 km em 6 horas, mante...",Parcialmente Correto,Erro Numérico,Inversão de Dígitos ou Transposição,"O estudante identificou a operação correta, ma..."
2498,Benício Alves Santos,lista5,Q9,"Em um jogo de tabuleiro, Paula começou com 500...",Correto,NaN,NaN,O estudante demonstrou total compreensão e pre...
2499,Benício Alves Santos,lista5,Q10,Uma doceira fez 350 brigadeiros e 280 beijinho...,Parcialmente Correto,Erro Numérico,Erros na Tabuada/Fatos Básicos,"O estudante identificou a operação correta, ma..."

In [6]:
df.columns

Index(['nome_estudante', 'lista', 'questao', 'enunciado', 'classificacao',
       'tipo_erro', 'subtipo_erro', 'justificativa'],
      dtype='object')

In [7]:
df_lista1 = df[df['lista'] == 'lista1']

In [8]:
df_lista1

,nome_estudante,lista,questao,enunciado,classificacao,tipo_erro,subtipo_erro,justificativa
0,Ana Clara Santos,lista1,Q1,A biblioteca da escola recebeu novas doações d...,Incorreto,Erro de Interpretação,Compreensão Incompleta do Enunciado,"O estudante cometeu um Erro de Interpretação, ..."
1,Ana Clara Santos,lista1,Q2,Um avião tem capacidade para 295 passageiros e...,Parcialmente Correto,Erro Numérico,Inversão de Dígitos ou Transposição,"O estudante identificou a operação correta, ma..."
2,Ana Clara Santos,lista1,Q3,Uma fábrica de brinquedos produz 138 carrinhos...,Parcialmente Correto,Erro Numérico,Erros na Tabuada/Fatos Básicos,"O estudante identificou a operação correta, ma..."
3,Ana Clara Santos,lista1,Q4,Uma turma de 27 alunos decidiu organizar uma v...,Parcialmente Correto,Erro Numérico,Deslizes no Procedimento Padrão,"O estudante identificou a operação correta, ma..."
4,Ana Clara Santos,lista1,Q5,"Em uma campanha de arrecadação de alimentos, o...",Correto,NaN,NaN,O estudante demonstrou total compreensão e pre...
...,...,...,...,...,...,...,...,...
495,Benício Alves Santos,lista1,Q6,"João tinha R$ 1.500,00 na poupança e gastou R$...",Incorreto,Erro de Cálculo,Dificuldade com Operações Complexas,O estudante cometeu um Erro de Cálculo: Dificu...
496,Benício Alves Santos,lista1,Q7,"Com 12 prestações mensais iguais de R$ 325,00,...",Correto,NaN,NaN,O estudante demonstrou total compreensão e pre...
497,Benício Alves Santos,lista1,Q8,"Em um teatro, há 126 poltronas distribuídas ig...",Parcialmente Correto,Erro Numérico,Inversão de Dígitos ou Transposição,"O estudante identificou a operação correta, ma..."
498,Benício Alves Santos,lista1,Q9,"Curió comprou três camisas de R$ 25,00 cada e ...",Parcialmente Correto,Erro Numérico,Inversão de Dígitos ou Transposição,"O estudante identificou a operação correta, ma..."
499,Benício Alves Santos,lista1,Q10,Se diariamente são gastos 105 litros de água c...,Parcialmente Correto,Erro Numérico,Inversão de Dígitos ou Transposição,"O estudante identificou a operação correta, ma..."